## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Importing uncleaned dataset

data = pd.read_csv('C:/Users/hp/Downloads/archive (6)/Uncleaned_DS_Jobs.csv')

In [3]:
data.head(2)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1

### In the cleaned version the columns explanation are as follows,

Job Title: Title of the job posting

Salary Estimation: Salary range for that particular job

Job Description: This contains the full description of that job

Rating: Rating of that post

Company: Name of company

Location: Location of the company

Headquarter: Location of the headquater

Size: Total employee in that company

Type of ownership: Describes the company type i.e non-profit/public/private farm etc

Industry, Sector: Field applicant will work in

Revenue: Total revenue of the company min_salary,max_salary,avg_salary: Refers to the minimum, maximum and average salary for that post

job_state: State where the applicant will work

same_state: Same state as headquarter or not(Boolean)

company_age: Age of company

seniority: if job type is senior or not (Boolean)

In [4]:
#Columns Name

data.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [5]:
data.shape

(672, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

## Data preprocessing and cleaning

In [7]:
#Dropping not useful columns

data.drop(['index','Founded', 'Competitors'], axis = 1, inplace = True)

In [8]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [9]:
#Drop Duplicate

len(data[data.duplicated()])

13

In [10]:
data.drop_duplicates(inplace = True)

Droped duplicate values from the data

In [11]:
data.shape

(659, 12)

In [13]:
#Company Name Column 

data['Company Name'] = data['Company Name'].apply(lambda x:x.split("\n")[0])

In [14]:
data.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)

Cleaning Company name column by removing Numbers and string values from company name

In [15]:
data['Salary Estimate'].value_counts()

$75K-$131K (Glassdoor est.)     32
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     28
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$110K-$163K (Glassdoor est.)    20
$79K-$147K (Glassdoor est.)     20
$145K-$225K(Employer est.)      20
$31K-$56K (Glassdoor est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
$122K-$146K (Glassdoor est.)    16
$95K-$119K (Glassdoor est.)     16
Name: Salary Estimate, dtype: int64

In [16]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [17]:
len(data)

659

In [18]:
#Replacing String words from the Salary Column

data['Salary Estimate'] = data['Salary Estimate'].str.replace("$", "", regex=True).str.replace("K", '', regex=True).str.replace("(Glassdoor est.)","", regex=True).str.replace("(Employer est.)","", regex=True)

In [19]:
data['Salary Estimate'] = data['Salary Estimate'].str.replace(r"\(", "", regex=True).str.replace(r"\)", "", regex=True)

In [20]:
data['min_salary'], data['max_salary'] = data['Salary Estimate'].str.split("-").str

data['min_salary'] = data['min_salary'].astype(float)
data['max_salary'] = data['max_salary'].astype(float)

data['avg_salary'] = (data['min_salary'] + data['max_salary']) / 2

C:\Users\hp\AppData\Local\Temp\ipykernel_3832\3122933953.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['min_salary'], data['max_salary'] = data['Salary Estimate'].str.split("-").str

In [21]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137.0,171.0,154.0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137.0,171.0,154.0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          659 non-null    object
 1   Salary Estimate    659 non-null    object
 2   Job Description    659 non-null    object
 3   Rating             659 non-null    float64
 4   Company Name       659 non-null    object
 5   Location           659 non-null    object
 6   Headquarters       659 non-null    object
 7   Size               659 non-null    object
 8   Type of ownership  659 non-null    object
 9   Industry           659 non-null    object
 10  Sector             659 non-null    object
 11  Revenue            659 non-null    object
 12  min_salary         659 non-null    float64
 13  max_salary         659 non-null    float64
 14  avg_salary         659 non-null    float64
dtypes: float64(4), object(11)
memory usage: 82.4+ KB

In [23]:
#Replace string values from size columns 

data['Size'] = data['Size'].str.replace("employees", "").str.replace('to', '-')

In [24]:
#Rename the Size Column

data.rename(columns = {'Size': 'Employees_Size'}).head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Employees_Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 - 5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 - 10000,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 - 5000,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 - 1000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137.0,171.0,154.0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 - 200,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137.0,171.0,154.0

In [25]:
#Cleaning Job Description column 

data['Job Description'] = data['Job Description'].apply(lambda x:x.split("\n"))

In [26]:
data['Job Description'].head(10)

0    [Description, , The Senior Data Scientist is r...
1    [Secure our Nation, Ignite your Future, , Join...
2    [Overview, , , Analysis Group is one of the la...
3    [JOB DESCRIPTION:, , Do you have a passion for...
4    [Data Scientist, Affinity Solutions / Marketin...
5    [About Us:, , Headquartered in beautiful Santa...
6    [Posting Title, Data Scientist / Machine Learn...
7    [Introduction, , Have you always wanted to run...
8    [Intuit is seeking a Staff Data Scientist to c...
9    [Ready to write the best chapter of your caree...
Name: Job Description, dtype: object

In [27]:
#Creating new column named - job_state

data['job_state'] = data['Location'].str.split(', ').str[1]

In [28]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state
0,Sr Data Scientist,137-171,"[Description, , The Senior Data Scientist is r...",3.1,Healthfirst,"New York, NY","New York, NY",1001 - 5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY
1,Data Scientist,137-171,"[Secure our Nation, Ignite your Future, , Join...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 - 10000,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA
2,Data Scientist,137-171,"[Overview, , , Analysis Group is one of the la...",3.8,Analysis Group,"Boston, MA","Boston, MA",1001 - 5000,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA
3,Data Scientist,137-171,"[JOB DESCRIPTION:, , Do you have a passion for...",3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 - 1000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137.0,171.0,154.0,MA
4,Data Scientist,137-171,"[Data Scientist, Affinity Solutions / Marketin...",2.9,Affinity Solutions,"New York, NY","New York, NY",51 - 200,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137.0,171.0,154.0,NY

In [67]:
#Creating New Column named - Seniority 

def seniority(job_title):
    job_title=job_title.lower()
    snr=['sr','senior','lead','principal','vp','vice president','director']
    for i in snr:
        if i in job_title:
            return "senior"
    if "jr" in job_title:
        return "junior"
    return "na"

In [68]:
data['Seniority'] = data['Job Title'].apply(seniority)

In [69]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,Seniority
0,Sr Data Scientist,137-171,"[Description, , The Senior Data Scientist is r...",3.1,Healthfirst,"New York, NY","New York, NY",1001 - 5000,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,senior
1,Data Scientist,137-171,"[Secure our Nation, Ignite your Future, , Join...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 - 10000,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA,na
2,Data Scientist,137-171,"[Overview, , , Analysis Group is one of the la...",3.8,Analysis Group,"Boston, MA","Boston, MA",1001 - 5000,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,na
3,Data Scientist,137-171,"[JOB DESCRIPTION:, , Do you have a passion for...",3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 - 1000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),137.0,171.0,154.0,MA,na
4,Data Scientist,137-171,"[Data Scientist, Affinity Solutions / Marketin...",2.9,Affinity Solutions,"New York, NY","New York, NY",51 - 200,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,137.0,171.0,154.0,NY,na

In [70]:
data['Seniority'].unique()

array(['senior', 'na', 'junior'], dtype=object)

In [71]:
#Downloading Clean data into csv format

data.to_csv('Cleaned_DS_Jobs.csv', index=False)